.content-movie-detail{
    height: 100%;
    display: flex;
    align-content: center;
    padding-top: 56px;
    
    .poster-image-content{
        padding: 10% 10% 5px 10%;

        .poster-image{
            left: 0px;
            width: 95%;
            height: auto;
        }

    }

    .movie-detail{
        position: relative;
        right: 0px;
        width: 65%;
        color: white;
        text-align: left;

        .logo-company{
            align-content: center;
            width: 160px;
            display: flex;

            div{
                width: fit-content;

                img{
                    margin: 10px;
                    background: white;
                    padding: 2px;

                    max-height: 55px;
                    width: auto;
                }
            }
        }
    }

    .background-image-content{
        width: 100%;

        .background-image{
            opacity: 0.1;
            height: 63%;
            position: absolute;
            right: 0px;
        }
    }
}

.tab-container{
    padding: 5%;
}

.nav-link.active{
    background-color: #080514 !important;
}